<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>home</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
    </session-config>
    
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>
    
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllService</servlet-name>
        <servlet-class>Controller.ListAllService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailController</servlet-name>
        <servlet-class>Controller.ServiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>Controller.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailForAdminController</servlet-name>
        <servlet-class>Controller.UserDetailForAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanUserController</servlet-name>
        <servlet-class>Controller.BanUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnbanUserController</servlet-name>
        <servlet-class>Controller.UnbanUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePersonalInformationController</servlet-name>
        <servlet-class>Controller.ChangePersonalInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareChangeProfileController</servlet-name>
        <servlet-class>Controller.PrepareChangeProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLoginController</servlet-name>
        <servlet-class>Controller.TestLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSetupController</servlet-name>
        <servlet-class>Controller.AdminSetupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>Controller.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>Controller.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailabilityController</servlet-name>
        <servlet-class>Controller.AvailabilityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleBookingController</servlet-name>
        <servlet-class>Controller.SimpleBookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllService</servlet-name>
        <url-pattern>/list_service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailController</servlet-name>
        <url-pattern>/service_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/list_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailForAdminController</servlet-name>
        <url-pattern>/user_detail_for_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanUserController</servlet-name>
        <url-pattern>/ban_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnbanUserController</servlet-name>
        <url-pattern>/unban_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePersonalInformationController</servlet-name>
        <url-pattern>/change_personal_information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareChangeProfileController</servlet-name>
        <url-pattern>/prepare_change_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSetupController</servlet-name>
        <url-pattern>/AdminSetupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/AdminDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailabilityController</servlet-name>
        <url-pattern>/availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLoginController</servlet-name>
        <url-pattern>/test_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleBookingController</servlet-name>
        <url-pattern>/simple_booking</url-pattern>
    </servlet-mapping>
</web-app>
